POSTGRES_HOST=your_host
POSTGRES_PORT=your_port
POSTGRES_USERNAME=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DATABASE=your_database
POSTGRES_SSL=false

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=time_in_seconds_or_string